<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/reset.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/index.css">
    <link rel="stylesheet" href="/css/_header.css">
    <link rel="stylesheet" href="/css/_footer.css">

</head>
<body>
    <header>
        <%- include("./common/_header") %>
    </header>


    <div class="absolute-container">

      <div class="conteiner">
  
          <div class="add-content hide" id="add-items">
              <form action="/" method="post">
                  <div class="mb-3">
                      <label for="formGroupExampleInput" class="form-label">Title</label>
                      <input type="text" name="title" class="form-control" id="formGroupExampleInput" placeholder="Title">
                    </div>
                    <div class="mb-3">
                      <label for="formGroupExampleInput2" class="form-label" aria-placeholder="Content">Content</label>
                      <textarea name="content" id="" cols="10" rows="5"></textarea>
                    </div>
                    <div class="mb-3 check-button">
                      <button type="button" class="check btn" id="Back">Back</button>
                      <button type="submit" class="check btn" id="item-submit" name="addItem">Add</button>
                    </div>
              </form>
          </div>
          <div class="accordion-container">
  
            <div class="item-title">
              <h2>Registration items</h2>
              <div class="add-button">
                <button class="add" id="add-button">+ Add</button>                
              </div>                
            </div>
            
            <div class="accordion me-auto ms-auto" id=" ">
              <% let number = 0; %>
            <% items.forEach((item) => {%>
                    <div class="accordion-item">
                        <h2 class="accordion-header">
                          <button class="accordion-btn" type="button" id="<%= item.id %>">
                            <%= item.title %>
                          </button>
                          <form action="/delete/<%= item.id %>" method="get">
                            <button class="hamburger">
                              X
                            </button>
                          </form>  
                        </h2>
                        <div id="<%= number %>-content" class="accordion-collapse" data-bs-parent="#accordionExample">
                            <%= item.content %>
                        </div>
                      </div>
                      <% number += 1; %>
                <%});;  %>
            </div>
  
          </div>
      </div>
      <!-- Accodion-test -->
  
      <footer>
          <%- include("./common/_footer")  %>
      </footer>
    </div>

    <script src="src/index.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>



</body>
</html>